/** Responsive css **/

/** override for smaller screen size **/

@media (max-width: 996px){

	#blogmatic-main-wrap .blogmatic-article-inner .post-meta .button-text.hide-on-mobile{
		display: none;
	}

}

/* 1200 for footer col */

@media (max-width: 1200px){
	body.archive--masonry-layout.archive-desktop-column--four article,
	body.archive--masonry-layout.archive-desktop-column--four .blogmatic-advertisement-block {
		width: calc(33.33% - 20px);
		margin-bottom: 50px; 
	}

}

/* 1030 for stickey **/
@media (max-width: 1030px){
	.sidebar-sticky #theme-content .row .secondary-sidebar {
		z-index: initial;
	}

	.sidebar-sticky .secondary-sidebar,
	.sidebar-sticky .secondary-left-sidebar,
	.sidebar-sticky .secondary-sidebar,
	.sidebar-sticky .primary-content {
		position: initial;
	}
}

/** 1025 **/
@media (max-width: 1025px) {

	.main-header .blogmatic-container .row {
		flex-direction: column;
		text-align: center;
	}

	.main-header .blogmatic-container .row > div {
		width: 100%;
	}

	.main-header .blogmatic-container .menu-section {
		text-align: center;
	}

	.site-branding-section {
		margin-bottom: 10px;
	}

	body.archive--right-sidebar #blogmatic-main-wrap > .blogmatic-container .row,
	body.archive--left-sidebar #blogmatic-main-wrap > .blogmatic-container .row,
	body.archive--both-sidebar #blogmatic-main-wrap > .blogmatic-container .row,

	body.single--right-sidebar #blogmatic-main-wrap > .blogmatic-container .row,
	body.single--left-sidebar #blogmatic-main-wrap > .blogmatic-container .row,
	body.single--both-sidebar #blogmatic-main-wrap > .blogmatic-container .row,


	body.page--right-sidebar #blogmatic-main-wrap > .blogmatic-container .row,
	body.page--left-sidebar #blogmatic-main-wrap > .blogmatic-container .row,
	body.page--both-sidebar #blogmatic-main-wrap > .blogmatic-container .row,

	body.error-page--right-sidebar #blogmatic-main-wrap > .blogmatic-container .row,
	body.error-page--left-sidebar #blogmatic-main-wrap > .blogmatic-container .row,
	body.error-page--both-sidebar #blogmatic-main-wrap > .blogmatic-container .row,

	body.search-page--right-sidebar #blogmatic-main-wrap > .blogmatic-container .row,
	body.search-page--left-sidebar #blogmatic-main-wrap > .blogmatic-container .row,
	body.search-page--both-sidebar #blogmatic-main-wrap > .blogmatic-container .row {
		flex-direction: column;
	}

	body.archive--right-sidebar #blogmatic-main-wrap > .blogmatic-container .row #primary,
	body.single--right-sidebar #blogmatic-main-wrap > .blogmatic-container .row #primary,
	body.search-page--right-sidebar #blogmatic-main-wrap > .blogmatic-container .row #primary,
	body.page--right-sidebar #blogmatic-main-wrap > .blogmatic-container .row #primary,
	body.error-page--right-sidebar #blogmatic-main-wrap > .blogmatic-container .row #primary,
	body.search-page--right-sidebar #blogmatic-main-wrap .blogmatic-container .row #primary {
		width: 100%;
		max-width: 100%;
		margin-right: 0;
		margin-bottom: 40px;
	}

	body.archive--right-sidebar #blogmatic-main-wrap .blogmatic-container .row #secondary,
	body.single--right-sidebar #blogmatic-main-wrap .blogmatic-container .row #secondary,
	body.search-page--right-sidebar #blogmatic-main-wrap .blogmatic-container .row #secondary,
	body.page--right-sidebar #blogmatic-main-wrap .blogmatic-container .row #secondary,
	body.error-page--right-sidebar #blogmatic-main-wrap .blogmatic-container .row #secondary,
	body.search-page--right-sidebar #blogmatic-main-wrap .blogmatic-container .row #secondary {
		width: 100%;
		max-width: 100%;
		margin-left: 0;
	}

	body.archive--left-sidebar #blogmatic-main-wrap > .blogmatic-container .row #primary,
	body.single--left-sidebar #blogmatic-main-wrap > .blogmatic-container .row #primary,
	body.search-page--left-sidebar #blogmatic-main-wrap > .blogmatic-container .row #primary,
	body.page--left-sidebar #blogmatic-main-wrap > .blogmatic-container .row #primary,
	body.error-page--left-sidebar #blogmatic-main-wrap > .blogmatic-container .row #primary,
	body.search-page--left-sidebar #blogmatic-main-wrap .blogmatic-container .row #primary {
		width: 100%;
		max-width: 100%;
		margin-left: 0;
		order: 1;
		margin-bottom: 40px;
	}

	body.archive--left-sidebar #blogmatic-main-wrap > .blogmatic-container .row #secondary-aside,
	body.single--left-sidebar #blogmatic-main-wrap > .blogmatic-container .row #secondary-aside,
	body.search-page--left-sidebar #blogmatic-main-wrap > .blogmatic-container .row #secondary-aside,
	body.page--left-sidebar #blogmatic-main-wrap > .blogmatic-container .row #secondary-aside,
	body.error-page--left-sidebar #blogmatic-main-wrap > .blogmatic-container .row #secondary-aside {
		width: 100%;
		max-width: 100%;
		margin-right: 0;
		order: 2;
	}

	body.archive--both-sidebar #blogmatic-main-wrap > .blogmatic-container .row #primary,
	body.single--both-sidebar #blogmatic-main-wrap > .blogmatic-container .row #primary,
	body.search-page--both-sidebar #blogmatic-main-wrap > .blogmatic-container .row #primary,
	body.page--both-sidebar #blogmatic-main-wrap > .blogmatic-container .row #primary,
	body.error-page--both-sidebar #blogmatic-main-wrap > .blogmatic-container .row #primary {
		width: 100%;
		max-width: 100%;
		margin-left: 0;
		order: 1;
		margin-bottom: 40px;
	}

	body.archive--both-sidebar #blogmatic-main-wrap > .blogmatic-container .row #secondary,
	body.single--both-sidebar #blogmatic-main-wrap > .blogmatic-container .row #secondary,
	body.search-page--both-sidebar #blogmatic-main-wrap > .blogmatic-container .row #secondary,
	body.page--both-sidebar #blogmatic-main-wrap > .blogmatic-container .row #secondary,
	body.error-page--both-sidebar #blogmatic-main-wrap > .blogmatic-container .row #secondary {
		width: 100%;
		max-width: 100%;
		margin-left: 0;
		order: 2;
		margin-bottom: 40px;
	}

	body.archive--both-sidebar #blogmatic-main-wrap > .blogmatic-container .row #secondary-aside,
	body.single--both-sidebar #blogmatic-main-wrap > .blogmatic-container .row #secondary-aside,
	body.search-page--both-sidebar #blogmatic-main-wrap > .blogmatic-container .row #secondary-aside,
	body.page--both-sidebar #blogmatic-main-wrap > .blogmatic-container .row #secondary-aside,
	body.error-page--both-sidebar #blogmatic-main-wrap > .blogmatic-container .row #secondary-aside {
		 max-width: 100%;
		width: 100%;
		margin-right: 0;
		order: 3;
	}

	body.single-tablet-column--three #blogmatic-main-wrap > .blogmatic-container .row #primary .blogmatic-inner-content-wrap {
		grid-template-columns: repeat(3, 1fr);
	}

	body.single-tablet-column--two #blogmatic-main-wrap > .blogmatic-container .row #primary .blogmatic-inner-content-wrap {
		grid-template-columns: repeat(2, 1fr);
	}

	body.single-tablet-column--one #blogmatic-main-wrap > .blogmatic-container .row #primary .blogmatic-inner-content-wrap {
		grid-template-columns: repeat(1, 1fr);
	}

	.blogmatic-main-banner-section article.post-item .post-thumb {
		padding-bottom: calc( 100% * 0.55 );
	}

	body.archive--masonry-layout.archive-desktop-column--three article, body.archive--masonry-layout.archive-desktop-column--three .blogmatic-advertisement-block {
		width: calc(50% - 20px);
		margin-bottom: 50px;
	}

	body.archive--masonry-layout.archive-desktop-column--four article, body.archive--masonry-layout.archive-desktop-column--four .blogmatic-advertisement-block {
		width: calc(50% - 20px);
		margin-bottom: 50px;
	}

	body.blogmatic-stickey-sidebar--enabled .row #primary,
	body.blogmatic-stickey-sidebar--enabled #blogmatic-main-wrap aside.secondary-aside,
	body.blogmatic-stickey-sidebar--enabled #blogmatic-main-wrap aside.secondary{
		position: initial;
		position: initial;
		top: initial;
		align-self: initial;
	}

	.site-header.layout--one .main-header .row {
		flex-wrap: wrap;
		flex-direction: initial;
	}

	.site-header.layout--one .main-header .row .site-branding-section {
		margin-bottom: 20px;
		flex: 100%;
	}

	.site-header.layout--one .main-header .row .site-navigation-wrapper {
		flex: 1 1 50%;
		text-align: left;
	}

	.site-header.layout--one .main-header .row .header-custom-button-wrapper,
	.site-header.layout--one .main-header .row .search-wrap,
	.site-header.layout--one .main-header .row .mode-toggle-wrap,
	.site-header.layout--one .main-header .row .blogmatic-canvas-menu {
		flex: 0 1 10%;
		text-align: right;
	}

	.site-header.layout--one .canvas-menu-icon {
		left: 74%;
	}

	.site-header.layout--one .main-header .row > div {
		margin-right: 0;
	}

	.site-header .canvas-menu-icon {
		left: 50%;
		transform: scale(.8) translateX(-50%);
	}

	.single.single-post--layout-three .blogmatic-container-fluid .entry-header {
		width: 70%;
	}

	.single-related-posts-section-wrap.column--three .single-related-posts-wrap {
		grid-template-columns: repeat(2, 1fr);
	}

	.widget_blogmatic_post_grid_widget .post-grid-wrap {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
	}

	.widget_blogmatic_post_grid_widget .post-grid-wrap .post-item {
		margin: 0;
	}

	.widget_blogmatic_carousel_widget .slick-vertical .post-item {
		margin-bottom: 10px;
	}

	.widget_blogmatic_carousel_widget .post-thumb-wrap {
		height: 278px;
	}

	.blogmatic-instagram-section.layout--two .instagram-content {
		grid-template-columns: repeat(5, 1fr);
		grid-auto-rows: 0;
		grid-template-rows: repeat(2, 1fr);
	}

	.blogmatic-instagram-section.layout--two .instagram-content .instagram-item:nth-child(4) {
		grid-row: span 1;
		grid-column: span 1;
	}

	.blogmatic-category-collection-section.layout--two .category-collection-wrap {
		flex-wrap: wrap;
	}

	.blogmatic-category-collection-section.layout--two .category-wrap {
		width: 26%;
	}

	body .blogmatic-you-may-have-missed-section .blogmatic-you-may-missed-inner-wrap .you-may-have-missed-wrap {
		grid-template-columns: repeat(2, 1fr);
	}

	.blogmatic-main-banner-section.layout--three .row {
		flex-direction: column;
	}

	.blogmatic-main-banner-section.layout--three .main-banner-slider {
		flex: 100%;
		width: 100%;
	}
}

/** 940 tab**/
@media (max-width: 994px) {
	.site-header .site-title {
		font-size: var(--blogmatic-site-title-size-tab);
		line-height: var(--blogmatic-site-title-lineheight-tab);
		letter-spacing: var(--blogmatic-site-title-letterspacing-tab);
	}

	.site-header .site-description {
		font-size: var(--blogmatic-site-description-size-tab);
		line-height: var(--blogmatic-site-description-lineheight-tab);
		letter-spacing: var(--blogmatic-site-description-letterspacing-tab);
	}

	.main-navigation .menu li a,
	.main-navigation .nav.menu li a {
		font-size: var(--blogmatic-menu-size-tab);
		line-height: var(--blogmatic-menu-lineheight-tab);
		letter-spacing: var(--blogmatic-menu-letterspacing-tab);
	}

	footer.site-footer .menu li a,
	footer.site-footer .nav.menu li a {
		font-size: var(--blogmatic-footer-menu-size-tab);
		line-height: var(--blogmatic-footer-menu-lineheight-tab);
		letter-spacing: var(--blogmatic-footer-menu-letterspacing-tab);
	}

	.site-header .header-custom-button .custom-button-label {
		font-size: var(--blogmatic-custom-button-size-tab);
		line-height: var(--blogmatic-custom-button-lineheight-tab);
		letter-spacing: var(--blogmatic-custom-button-letterspacing-tab);
	}

	.site-header .header-custom-button {
		border-radius: var(--blogmatic-custom-button-border-radius);
	}

	article .content-wrap .post-button .button-text {
		font-size: var(--blogmatic-readmore-font-size-tab);
		letter-spacing: var(--blogmatic-readmore-font-letterspacing-tab);
		line-height: var(--blogmatic-readmore-font-lineheight-tab);
	}

	.instagram-container .instagram-button .instagram-label {
		font-size: var(--blogmatic-instagram-font-size-tab);
		line-height: var(--blogmatic-instagram-font-lineheight-tab);
		letter-spacing: var(--blogmatic-instagram-font-letterspacing-tab);
	}

	.instagram-container .instagram-button .instagram-icon i {
		font-size: calc( var(--blogmatic-instagram-font-size-tab) * 0.84 );
	}

	article .entry-title {
		font-size: var(--blogmatic-post-title-font-size-tab);
		line-height: var(--blogmatic-post-title-font-lineheight-tab);
		letter-spacing: var(--blogmatic-post-title-font-letterspacing-tab);
	}

	article .post-excerpt {
		font-size: var(--blogmatic-post-content-font-size-tab);
		line-height: var(--blogmatic-post-content-font-lineheight-tab);
		letter-spacing: var(--blogmatic-post-content-font-letterspacing-tab);
	}

	.post-date {
		font-size: var(--blogmatic-date-font-size-tab);
		line-height: var(--blogmatic-date-font-lineheight-tab);

	}
	.post-date a{
		letter-spacing: var(--blogmatic-date-font-letterspacing-tab);
	}

	article .post-meta .byline{
		font-size: var(--blogmatic-author-font-size-tab);
		letter-spacing: var(--blogmatic-author-font-letterspacing-tab);
		line-height: var(--blogmatic-author-font-lineheight-tab);
	}

	article .content-wrap .post-button {
		font-size: var(--blogmatic-readmore-font-size-tab);
		line-height: var(--blogmatic-readmore-font-lineheight-tab);
		letter-spacing: var(--blogmatic-readmore-font-letterspacing-tab);

	}

	article .post-meta .post-meta .post-read-time {
		font-size: var(--blogmatic-readtime-font-size-tab);
		line-height: var(--blogmatic-readtime-font-lineheight-tab);
		letter-spacing: var(--blogmatic-readtime-font-letterspacing-tab);
	}

	article .post-meta .post-meta .post-comments-num {
		font-size: var(--blogmatic-comment-font-size-tab);
		line-height: var(--blogmatic-comment-font-lineheight-tab);
		letter-spacing: var(--blogmatic-comment-font-letterspacing-tab);
	}

	article .post-categories .cat-item a{
		font-size: var(--blogmatic-category-font-size-tab);
		letter-spacing: var(--blogmatic-category-font-letterspacing-tab);
		line-height: var(--blogmatic-category-font-lineheight-tab);
	}

	.widget_block .wp-block-group__inner-container .wp-block-heading,
	section.widget  .widget-title,
	.widget_block.widget_search .wp-block-search__label {
		font-size: var(--blogmatic-widget-block-font-size-tab);
		letter-spacing: var(--blogmatic-widget-block-font-letterspacing-tab);
		line-height: var(--blogmatic-widget-block-font-lineheight-tab);
	}

	.widget_blogmatic_post_grid_widget .post-grid-wrap  .post-title,
	.widget_blogmatic_category_collection_widget .categories-wrap .category-item .category-count,
	.widget_blogmatic_posts_grid_two_column_widget .posts-wrap .post-title {
		font-size: var(--blogmatic-widget-title-font-size-tab);
		line-height: var(--blogmatic-widget-title-font-lineheight-tab);
		letter-spacing: var(--blogmatic-widget-title-font-letterspacing-tab);
	}

	body aside .widget.widget_blogmatic_post_list_widget .post-list-wrap .post-item .post-content-wrap h3.post-title {
		font-size: calc( var(--blogmatic-widget-title-font-size-tab) * 0.99);
		line-height: var(--blogmatic-widget-title-font-lineheight-tab);
		letter-spacing: var(--blogmatic-widget-title-font-letterspacing-tab);
	}

	ul.wp-block-latest-posts a,
	ol.wp-block-latest-comments li footer,
	ul.wp-block-archives a,
	ul.wp-block-categories a,
	ul.wp-block-page-list a,
	ol.wp-block-latest-comments li footer a {
		font-size: calc( var(--blogmatic-widget-title-font-size-tab) * 0.94);
		line-height: var(--blogmatic-widget-title-font-lineheight-tab);
		letter-spacing: var(--blogmatic-widget-title-font-letterspacing-tab);
	}

	.widget .post-meta .post-date {
		font-size: var(--blogmatic-widget-date-font-size-tab);
		letter-spacing: var(--blogmatic-widget-date-font-letterspacing-tab);
		line-height: var(--blogmatic-widget-date-font-lineheight-tab);
	}

	.widget_blogmatic_post_grid_widget .post-grid-wrap .post-categories a,
	.widget_blogmatic_category_collection_widget .categories-wrap .category-item .category-name {
		font-size: var(--blogmatic-widget-category-font-size-tab);
		line-height: var(--blogmatic-widget-category-font-lineheight-tab);
		letter-spacing: var(--blogmatic-widget-category-font-letterspacing-tab);
	}

	body.single-post #blogmatic-main-wrap .entry-header .post-thumbnail,
	.single.single-post--layout-three .blogmatic-container-fluid .post-thumbnail {
		position: relative;
		padding-bottom: calc( 100% * var(--blogmatic-single-post-image-ratio-tab) );
	}

	.single.single-post--layout-four .blogmatic-single-header .entry-header {
		grid-template-columns: 100%
	}

	.page-template-default #primary article .post-thumbnail {
		padding-bottom: calc( 100% * var(--blogmatic-single-page-image-ratio-tab) );
	}

	article .post-meta .post-meta .post-read-time {
		font-size: var(--blogmatic-readtime-font-size-tab);
		letter-spacing: var(--blogmatic-meta-font-letterspacing-tab);
		line-height: var(--blogmatic-meta-font-lineheight-tab);
	}

	article .content-wrap .post-button {
		font-size: var(--blogmatic-readmore-font-size-tab);
		letter-spacing: var(--blogmatic-readmore-font-letterspacing-tab);
		line-height: var(--blogmatic-readmore-font-lineheight-tab);
	}

	body.archive--block-layout article .entry-title {
		font-size: calc( var(--blogmatic-post-title-font-size-tab)* 1.2 );
		line-height: calc( var(--blogmatic-post-title-font-lineheight-tab)* 1.2 );
		letter-spacing: var(--blogmatic-post-title-font-letterspacing-tab);
	}

	.blogmatic_search_page form.search-form {
		width: 100%;
	}

	.blogmatic-cursor {
		display: none;
	}

	body .single-related-posts-section-wrap .single-related-posts-section .single-related-posts-wrap {
		grid-template-columns: repeat(2, 1fr);
	}

	.blogmatic-you-may-have-missed-section .you-may-have-missed-wrap .post-thumbnail-wrapper:before {
		padding-bottom: calc( 100% * var(--blogmatic-youmaymissed-image-ratio-tab) );
	}

	.blogmatic-you-may-have-missed-section .section-title {
		font-size: var(--blogmatic-youmaymissed-block-title-font-size-tab);
		line-height: var(--blogmatic-youmaymissed-block-title-font-lineheight-tab);
		letter-spacing: var(--blogmatic-youmaymissed-block-title-font-letterspacing-tab);
	}

	.blogmatic-you-may-have-missed-section .post-thumbnail-wrapper .entry-title {
		font-size: var(--blogmatic-youmaymissed-title-font-size-tab);
		line-height: var(--blogmatic-youmaymissed-title-font-lineheight-tab);
		letter-spacing: var(--blogmatic-youmaymissed-title-font-letterspacing-tab);
	}

	.blogmatic-you-may-have-missed-section .post-thumbnail-wrapper .post-categories a {
		font-size: var(--blogmatic-youmaymissed-category-font-size-tab);
		line-height: var(--blogmatic-youmaymissed-category-font-lineheight-tab);
		letter-spacing: var(--blogmatic-youmaymissed-category-font-letterspacing-tab);
	}

	.blogmatic-you-may-have-missed-section .post-thumbnail-wrapper .post-date {
		font-size: var(--blogmatic-youmaymissed-date-font-size-tab);
		line-height: var(--blogmatic-youmaymissed-date-font-lineheight-tab);
		letter-spacing: var(--blogmatic-youmaymissed-date-font-letterspacing-tab);
	}

	.blogmatic-you-may-have-missed-section .post-thumbnail-wrapper .author {
		font-size: var(--blogmatic-youmaymissed-author-font-size-tab);
		line-height: var(--blogmatic-youmaymissed-author-font-lineheight-tab);
		letter-spacing: var(--blogmatic-youmaymissed-author-font-letterspacing-tab);
	}

	.blogmatic-main-banner-section .main-banner-wrap .post-elements .post-excerpt {
		font-size: var(--blogmatic-banner-excerpt-font-size-tab);
		line-height: var(--blogmatic-banner-excerpt-font-lineheight-tab);
		letter-spacing: var(--blogmatic-banner-excerpt-font-letterspacing-tab);
	}

	.widget_blogmatic_posts_grid_two_column_widget .posts-wrap .post-thumb {
		height: 140px;
	}

	body .widget-area .widget,
	body .widget-area #widget_block {
		padding: 15px 20px 20px 20px;
	}

}

/** 768 **/
@media (max-width: 769px) {

	.site-header.layout--three .blogmatic-container .site-branding-section {
		flex-direction: column;
	}

	.site-header.layout--three .blogmatic-container .site-branding-section > div {
		width: 100%;
	}

	.site-header.layout--three .blogmatic-container .site-branding-section .site-branding {
		margin-bottom: 15px;
	}

	body.single-mobile-column--three #blogmatic-main-wrap > .blogmatic-container .row #primary .blogmatic-inner-content-wrap {
		grid-template-columns: repeat(2, 1fr);
	}

	body.single-mobile-column--two #blogmatic-main-wrap > .blogmatic-container .row #primary .blogmatic-inner-content-wrap {
		grid-template-columns: repeat(2, 1fr);
	}

	body.single-mobile-column--one #blogmatic-main-wrap > .blogmatic-container .row #primary .blogmatic-inner-content-wrap {
		grid-template-columns: repeat(1, 1fr);
	}

	body.single-mobile-column--one #blogmatic-main-wrap > .blogmatic-container .row #primary .blogmatic-inner-content-wrap {
		grid-template-columns: repeat(1, 1fr);
	}

	.main-header .menu-section {
		display: flex;
		align-items: center;
		position: relative;
	}

	.main-header .menu-section nav{
		flex: 0 1 40%;
		text-align: left;
		justify-content: flex-start;
	}

	.main-header .menu-section nav button{
		border-color: transparent;
		padding: 6px 15px;
	}

	.main-header .menu-section .subscribe-section {
		flex: 0 1 60%;
		text-align: right;
	}

	.main-header nav.toggled .blogmatic-primary-menu-container,
	.main-header nav.toggled div.menu {
		position: absolute;
		top: auto;
		padding: 20px 40px;
		background: var(--blogmatic-submenu-bk-color);
		z-index: 999;
		width: 100%;
		border-radius: 15px;
		margin-top: 10px;
		box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.25);
		-webkit-box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.25);
		left: 0;
	}

	body .site-header .menu-alignment--center .row .menu-section .site-navigation-wrapper {
		text-align: center;
	}

	header nav .blogmatic-primary-menu-container ul li,
	header nav div.menu ul li {
		padding: 4px 0;
	}

	header nav .blogmatic-primary-menu-container ul li > a,
	header nav div.menu ul li > a {
		min-width: 210px;
		width: 100%;
		color: var(--blogmatic-menu-color-submenu)!important;
		border-bottom: 1px solid var(--blogmatic-submenu-border-btm-color);
		font-family: var(--blogmatic-submenu-font-family);
		font-weight: var(--blogmatic-submenu-font-weight);
		text-transform: var(--blogmatic-submenu-font-texttransform);
		text-decoration: var(--blogmatic-submenu-font-textdecoration);
	}

	.blogmatic-main-banner-section article.post-item .post-thumb {
		padding-bottom: calc( 100% * 0.8 );
	}

	.main-navigation ul.menu li.menu-item-has-children > a:after,
	.main-navigation ul.menu li.page_item_has_children > a:after,
	.main-navigation ul.nav-menu li.menu-item-has-children > a:after,
	.main-navigation ul.nav-menu li.page_item_has_children > a:after {
		float: right;
	}

	.main-navigation .menu > li li a,
	.main-navigation .nav-menu > li li a {
		padding: 5px 15px;
	}

	.main-navigation .menu li a,
	.main-navigation .nav.menu li a {
		margin: 5px 0;
	}

	.main-navigation ul.menu li > ul.sub-menu.isShow,
	.main-navigation ul.nav-menu li > ul.sub-menu.isShow,
	.main-navigation ul.menu li > ul.children.isShow,
	.main-navigation ul.nav-menu li > ul.children.isShow {
		position: relative;
		left: 10px;
	}

	.main-navigation ul.menu li > ul.sub-menu, 
	.main-navigation ul.nav-menu li > ul.sub-menu,
	.main-navigation ul.menu li > ul.children, 
	.main-navigation ul.nav-menu li > ul.children {
		display: none;
	}

	.main-navigation ul.menu li > ul.sub-menu.isShow, 
	.main-navigation ul.nav-menu li > ul.sub-menu.isShow,
	.main-navigation ul.menu li > ul.children.isShow, 
	.main-navigation ul.nav-menu li > ul.children.isShow {
		position: relative;
		width: 100%;
		left: 10px;
		box-shadow: none;
		display: inline-block;
	}

	.main-navigation ul.menu li,
	.main-navigation ul.nav-menu li {
		position: relative;
	}

	.main-navigation ul.menu li a.toggle-sub-menu,
	.main-navigation ul.nav-menu li a.toggle-sub-menu {
		position: absolute;
		right: 0;
		display: inline-block;
		margin-top: -29px;
		text-align: right;
		z-index: 1;
		padding: 5px 10px;
		min-width: initial;
		text-align: center;
		width: auto;
	}

	.single-related-posts-section-wrap.layout--list .single-related-posts-wrap article .post-thumb-wrap {
		flex: 0 1 30%;
	}

	.single-related-posts-section-wrap.layout--list .single-related-posts-wrap article .post-element {
		flex: 1 1 60%;
	}

	.blogmatic-main-banner-section.main-banner-arrow-show .main-banner-wrap .slick-arrow, 
	.blogmatic-carousel-section.carousel-banner-arrow-show .carousel-wrap .slick-arrow {
		display: block!important;
	}

	.site-header.layout--two .blogmatic-container .row .menu-section {
		text-align: center;
	}

	.site-header.layout--two .menu-alignment--left .blogmatic-container .row .menu-section{
		text-align: left;
	}

	body.archive--mixed-layout #blogmatic-main-wrap > .blogmatic-container > .row #primary .blogmatic-inner-content-wrap > article {
		grid-column: 1 / span 2;
	}

	body.archive--mixed-layout .blogmatic-inner-content-wrap > article:nth-child(3n+1) .entry-title {
		font-size: var(--blogmatic-post-title-font-size);
	}

	body.archive.author .site #blogmatic-main-wrap .page-header .blogmatic-container {
		width: 95%;
	}

	.blogmatic-video-playlist.layout--one .video-playlist-wrap {
		flex-direction: column;
	}

	.blogmatic-video-playlist.layout--one .video-playlist-wrap > div {
		width: 100%;
	}

	.blogmatic-video-playlist.layout--one .active-player iframe {
		height: 350px;
	}

	body .blogmatic-main-banner-section.layout--two .main-banner-wrap .post-elements {
		width: 70%;
		margin-inline: auto;
		margin-top: -80px;
	}

	.top-header .row {
		flex-direction: column;
		text-align: center;
		gap: 8px;
	}

	.top-header .top-header-inner-wrapper {
		flex-direction: column;
		margin-bottom: 5px;
	}

	body.single-post #primary .post-navigation .nav-links {
		flex-direction: column;
		gap: 25px;
	}

	body.single-post #primary .post-navigation .nav-links .button-thumbnail {
		flex: 0 1 12%;
	}

	body.single-post #blogmatic-main-wrap .blogmatic-container .row #primary nav.navigation {
		padding: 20px;
	}

	.search-wrap.search-type--live-search .search-results-wrap {
		width: 70%;
	}

	.blogmatic-category-collection-section.layout--two .category-wrap {
		width: 36%;
	}

	body #blogmatic-main-wrap > .blogmatic-container > .row #primary article .blogmatic-article-inner .inner-content,
	body.single-post #blogmatic-main-wrap .blogmatic-container .row #primary .post-inner,
	body.single-post #blogmatic-main-wrap .blogmatic-container .row #primary .comments-area,
	body.single-post  #primary article .post-card .bmm-author-thumb-wrap,
	body.single-post #blogmatic-main-wrap .blogmatic-container .row #primary nav.navigation,
	body.single-post #blogmatic-main-wrap .blogmatic-container .row #primary .comments-area,
	body.single-post #blogmatic-main-wrap .blogmatic-container .row #primary .single-related-posts-section-wrap.layout--list {
		padding: 20px;
	}

	.archive--block-layout #blogmatic-main-wrap article .top-inner-content {
		padding: 25px 25px 5px;
	}

	body.home .blogmatic-social-share {
		display: none;
	}

	body .blogmatic-you-may-have-missed-section .blogmatic-you-may-missed-inner-wrap .you-may-have-missed-wrap {
		grid-template-columns: 100%;
	}

	body .blogmatic-inner-content-wrap article figure.post-thumbnail-wrapper:before {
		padding-bottom: calc( 100% * var(--blogmatic-archive-post-image-ratio-tab) );
	}

	body .blogmatic-main-banner-section.layout--one .main-banner-swiper-thumbs {
		margin-top: -4rem;
		width: 90%;
	}

}

/* 660 large mobile */
@media (max-width: 675px) {
	body.single-post #blogmatic-main-wrap .blogmatic-container .row #primary .post-inner,
	body.single-post #blogmatic-main-wrap .blogmatic-container .row #primary .comments-area,
	body.search-post #blogmatic-main-wrap > .blogmatic-container > .row #primary article .blogmatic-article-inner,
	body.single-post #blogmatic-main-wrap .blogmatic-container .row #primary .single-related-posts-section-wrap.layout--list {
		padding: 20px;
	}

	body.archive--masonry-layout.archive-desktop-column--three article, 
	body.archive--masonry-layout.archive-desktop-column--three .blogmatic-advertisement-block,
	body.archive--masonry-layout.archive-desktop-column--four article, 
	body.archive--masonry-layout.archive-desktop-column--four .blogmatic-advertisement-block {
		width: 100%;
		margin-bottom: 50px;
	}

	body.single-post #primary .post-navigation .nav-links > div {
		flex: 0 1 47%;
	}

	.single.single-post--layout-two .blogmatic-inner-content-wrap .blogmatic-social-share {
		width: 100%;
		margin-left: 0;
		margin-top: -44px;
		height: 40px;
	}

	.single.single-post--layout-two .blogmatic-inner-content-wrap .blogmatic-social-share {
		position: initial;
	}

	.single.single-post--layout-one .blogmatic-inner-content-wrap .blogmatic-social-share.alignment--right {
		float: none;

	}

	.single.single-post--layout-two .blogmatic-inner-content-wrap .blogmatic-social-share .social-shares {
		right: auto;
		margin-right: 0;
		left: auto;
	}

	.search-wrap.search-type--live-search .article-item {
		flex-direction: column;
		gap: 12px;
	}

	.search-wrap.search-type--live-search .article-item figure.post-thumb-wrap,
	.search-wrap.search-type--live-search .article-item .post-element {
		width: 100%;
		flex: 1;
		margin-left: 0;
	}

}

/** 610 Mobile **/
@media (max-width: 610px) {

	body.archive--masonry-layout.archive-desktop-column--two article, body.archive--masonry-layout.archive-desktop-column--two .blogmatic-advertisement-block {
		width: 100%;
		margin-bottom: 50px;
	}

	body.archive--masonry-layout.archive-desktop-column--three article, body.archive--masonry-layout.archive-desktop-column--three .blogmatic-advertisement-block {
		width: 100%;
		margin-bottom: 50px;
	}

	.site-header .site-title {
		font-size: var(--blogmatic-site-title-size-mobile);
		line-height: var(--blogmatic-site-title-lineheight-mobile);
		letter-spacing: var(--blogmatic-site-title-letterspacing-mobile);
	}

	.site-header .site-description {
		font-size: var(--blogmatic-site-description-size-mobile);
		line-height: var(--blogmatic-site-description-lineheight-mobile);
		letter-spacing: var(--blogmatic-site-description-letterspacing-mobile);
	}

	.main-navigation .menu li a,
	.main-navigation .nav.menu li a {
		font-size: var(--blogmatic-menu-size-mobile);
		line-height: var(--blogmatic-menu-lineheight-mobile);
		letter-spacing: var(--blogmatic-menu-letterspacing-mobile);
	}

	footer.site-footer .menu li a,
	footer.site-footer .nav.menu li a {
		font-size: var(--blogmatic-footer-menu-size-mobile);
		line-height: var(--blogmatic-footer-menu-lineheight-mobile);
		letter-spacing: var(--blogmatic-footer-menu-letterspacing-mobile);
	}

	.site-header .header-custom-button .custom-button-label {
		font-size: var(--blogmatic-custom-button-size-mobile);
		line-height: var(--blogmatic-custom-button-lineheight-mobile);
		letter-spacing: var(--blogmatic-custom-button-letterspacing-mobile);
	}

	.site-header .header-custom-button {
		border-radius: var(--blogmatic-custom-button-border-radius);
	}

	body .blogmatic-inner-content-wrap article figure.post-thumbnail-wrapper:before {
		padding-bottom: calc( 100% * var(--blogmatic-archive-post-image-ratio-mobile) );
	}

	article .entry-title {
		font-size: var(--blogmatic-post-title-font-size-mobile);
		line-height: var(--blogmatic-post-title-font-lineheight-mobile);
		letter-spacing: var(--blogmatic-post-title-font-letterspacing-mobile);
	}

	article .post-excerpt {
		font-size: var(--blogmatic-post-content-font-size-mobile);
		line-height: var(--blogmatic-post-content-font-lineheight-mobile);
		letter-spacing: var(--blogmatic-post-content-font-letterspacing-mobile);
	}

	.post-date {
		font-size: var(--blogmatic-date-font-size-mobile);
		line-height: var(--blogmatic-date-font-lineheight-mobile);

	}
	.post-date a {
		letter-spacing: var(--blogmatic-date-font-letterspacing-mobile);
	}

	article .post-meta .byline{
		font-size: var(--blogmatic-author-font-size-mobile);
		letter-spacing: var(--blogmatic-author-font-letterspacing-mobile);
		line-height: var(--blogmatic-author-font-lineheight-mobile);
	}

	article .content-wrap .post-button {
		font-size: var(--blogmatic-readmore-font-size-mobile);
		line-height: var(--blogmatic-readmore-font-lineheight-mobile);
		letter-spacing: var(--blogmatic-readmore-font-letterspacing-mobile);
	}

	article .post-meta .post-meta .post-read-time {
		font-size: var(--blogmatic-readtime-font-size-mobile);
		line-height: var(--blogmatic-readtime-font-lineheight-mobile);
		letter-spacing: var(--blogmatic-readtime-font-letterspacing-mobile);
	}

	article .post-meta .post-meta .post-comments-num {
		font-size: var(--blogmatic-comment-font-size-mobile);
		line-height: var(--blogmatic-comment-font-lineheight-mobile);
		letter-spacing: var(--blogmatic-comment-font-letterspacing-mobile);
	}

	article .post-categories .cat-item a{
		font-size: var(--blogmatic-category-font-size-mobile);
		letter-spacing: var(--blogmatic-category-font-letterspacing-mobile);
		line-height: var(--blogmatic-category-font-lineheight-mobile);
	}

	.widget_block .wp-block-group__inner-container .wp-block-heading,
	section.widget  .widget-title,
	.widget_block.widget_search .wp-block-search__label {
		font-size: var(--blogmatic-widget-block-font-size-mobile);
		letter-spacing: var(--blogmatic-widget-block-font-letterspacing-mobile);
		line-height: var(--blogmatic-widget-block-font-lineheight-mobile);
	}

	.widget_blogmatic_post_grid_widget .post-grid-wrap  .post-title,
	.widget_blogmatic_category_collection_widget .categories-wrap .category-item .category-count,
	.widget_blogmatic_posts_grid_two_column_widget .posts-wrap .post-title {
		font-size: var(--blogmatic-widget-title-font-size-mobile);
		line-height: var(--blogmatic-widget-title-font-lineheight-mobile);
		letter-spacing: var(--blogmatic-widget-title-font-letterspacing-mobile);
	}

	body aside .widget.widget_blogmatic_post_list_widget .post-list-wrap .post-item .post-content-wrap h3.post-title {
		font-size: calc( var(--blogmatic-widget-title-font-size-mobile) * 0.95);
		line-height: var(--blogmatic-widget-title-font-lineheight-mobile);
		letter-spacing: var(--blogmatic-widget-title-font-letterspacing-mobile);
	}

	ul.wp-block-latest-posts a,
	ol.wp-block-latest-comments li footer,
	ul.wp-block-archives a,
	ul.wp-block-categories a,
	ul.wp-block-page-list a{
		font-size: calc( var(--blogmatic-widget-title-font-size-mobile) * 0.94);
		line-height: var(--blogmatic-widget-title-font-lineheight-mobile);
		letter-spacing: var(--blogmatic-widget-title-font-letterspacing-mobile);
	}

	ol.wp-block-latest-comments li footer a{
		font-size: calc( var(--blogmatic-widget-title-font-size-mobile) * 0.94);
		line-height: var(--blogmatic-widget-title-font-lineheight-mobile);
		letter-spacing: var(--blogmatic-widget-title-font-letterspacing-mobile);
	}

	.widget .post-meta .post-date {
		font-size: var(--blogmatic-widget-date-font-size-mobile);
		letter-spacing: var(--blogmatic-widget-date-font-letterspacing-mobile);
		line-height: var(--blogmatic-widget-date-font-lineheight-mobile);
	}

	.widget_blogmatic_post_grid_widget .post-grid-wrap .post-categories a,
	.widget_blogmatic_category_collection_widget .categories-wrap .category-item .category-name {
		font-size: var(--blogmatic-widget-category-font-size-mobile);
		line-height: var(--blogmatic-widget-category-font-lineheight-mobile);
		letter-spacing: var(--blogmatic-widget-category-font-letterspacing-mobile);
	}

	body.single-post #blogmatic-main-wrap .entry-header .post-thumbnail,
	.single.single-post--layout-three .blogmatic-container-fluid .post-thumbnail {
		padding-bottom: calc( 130% * var(--blogmatic-single-post-image-ratio-mobile) );
	}

	.page-template-default #primary article .post-thumbnail {
		padding-bottom: calc( 100% * var(--blogmatic-single-page-image-ratio-mobile) );
	}

	article .post-meta .post-meta .post-read-time {
		font-size: var(--blogmatic-readtime-font-size-mobile);
		letter-spacing: var(--blogmatic-meta-font-letterspacing-mobile);
		line-height: var(--blogmatic-meta-font-lineheight-mobile);
	}

	article .content-wrap .post-button {
		font-size: var(--blogmatic-readmore-font-size-mobile);
		letter-spacing: var(--blogmatic-readmore-font-letterspacing-mobile);
		line-height: var(--blogmatic-readmore-font-lineheight-mobile);
	}

	.single-related-posts-section-wrap.layout--one .single-related-posts-wrap article {
		flex-direction: column;
	}

	.single-related-posts-section-wrap.layout--list .single-related-posts-wrap article .post-element {
		margin-top: 15px;
	}

	.single-related-posts-section-wrap.layout--list .single-related-posts-wrap article .post-thumb-wrap {
		margin-right: 0;
	}

	.single-related-posts-section-wrap.layout--list .single-related-posts-wrap article > div,
	.single-related-posts-section-wrap.layout--list .single-related-posts-wrap article > figure {
		width: 100%;
	}

	body .widget .wp-block-latest-comments article{
		margin-bottom: 0;
	}

	body.single-post .site-main article .post-meta-wrap .byline {
		letter-spacing: 0.3px;
		margin-bottom: 15px;
		display: inline-block;
	}

	body.single-post .comments-area .comment-meta {
		flex-direction: column;
		text-align: left;
		justify-content: flex-start;
		align-items: flex-start;
	}

	body.single-post .comments-area .comment-author.vcard {
		margin-bottom: 10px;
	}

	body.single-post .comments-area .comment-content {
		margin: 10px 10px 10px 40px;
	}

	body.single-post .comments-area li > ul, body.single-post .comments-area li > ol {
		margin-left: 0.2em;
	}

	body.archive--block-layout article .entry-title {
		font-size: calc( var(--blogmatic-post-title-font-size-mobile)* 1.1 );
		line-height: calc( var(--blogmatic-post-title-font-lineheight-mobile)* 1.1 );
		letter-spacing: var(--blogmatic-post-title-font-letterspacing-mobile);
	}

	body .blogmatic-central-mode-enable article {
		padding-left: 0;
		padding-right: 0;
	}

	body.archive--block-layout #blogmatic-main-wrap .blogmatic-container .row #primary article .blogmatic-article-inner .inner-content{
		overflow: hidden;
	}

	body.archive--block-layout article.format-image .inner-content .content-wrap,
	body.archive--block-layout article.post_format-post-format-quote .inner-content .content-wrap {
		height: calc(100% - 120px );
	}

	.search-form-wrap form.search-form input.search-submit{
		width: 30%;
	}

	.search-form-wrap form.search-form input.search-field {
		width: 90%;
		margin-bottom: 20px;
	}

	.search-wrap.search-type--live-search .search-results-wrap {
		width: 90%;
	}

	.main-header nav.sub-menu-hide-on-mobile ul li a.toggle-sub-menu,
	.search-wrap.hide-on-mobile,
	.blogmatic-scroll-btn.hide-on-mobile, .header-custom-button.hide-on-mobile,
	.custom-button-label.hide-on-mobile, .mode-toggle-wrap.hide-on-mobile,
	.blogmatic-canvas-menu.hide-on-mobile, .menu-txt.hide-on-mobile,
	.main-banner-wrap .post-excerpt.hide-on-mobile,
	.blogmatic-carousel-section .post-excerpt.hide-on-mobile,
	#blogmatic-main-wrap #primary article .post-excerpt.hide-on-mobile,
	#blogmatic-main-wrap #primary article .author.vcard.hide-on-mobile,
	#blogmatic-main-wrap #primary article .post-meta .byline.hide-on-mobile,
	#blogmatic-main-wrap #primary article .post-button.hide-on-mobile,
	#blogmatic-main-wrap #primary article .post-read-time.hide-on-mobile,
	#blogmatic-main-wrap #primary article .post-comments-num.hide-on-mobile,
	.widget-area.hide-on-mobile,
	.blogmatic-social-share.hide-on-mobile,
	.button-text.hide-on-mobile {
		display: none;
	}

	#site-navigation #blogmatic-menu-burger {
		margin: 0;
	}

	body .blogmatic-video-playlist.hide-on-mobile, 
	body .post-date.hide-on-mobile, 
	body .blogmatic-article-inner .post-categories.hide-on-mobile,
	.top-header.hide-on-mobile,
	.top-header .top-date-time.hide-on-mobile,
	.top-header .social-icons-wrap.hide-on-mobile,
	.top-header .top-header-search-wrap.hide-on-mobile  {
		display: none;
	}

	body.single-post.single-post--layout-two .entry-title {
		padding-left: 0;
		margin-right: 4px 0;
	}

	body.single-post.single-post--layout-two .post-meta-wrap {
		padding: 5px;
		margin-left: 0;
	}

	.single-post--layout-two .blogmatic-single-header header .post-categories {
		margin: 2px 0;
	}

	.blogmatic-video-playlist.layout--one .active-player iframe {
		height: 300px;
	}

	body.archive--list-layout #primary .blogmatic-article-inner,
	body.archive--list-two-layout #primary .blog-inner-wrapper {
		flex-direction: column;
	}

	body.archive--list-two-layout #primary .blogmatic-article-inner .inner-content {
		order: 2;
	}

	.single.single-post--layout-three .blogmatic-container-fluid .entry-header {
		width: 90%;
	}

	.single-related-posts-section-wrap.column--three .single-related-posts-wrap {
		grid-template-columns: 100%;
	}

	body .single-related-posts-section-wrap.layout--one .single-related-posts-section .single-related-posts-wrap article .post-thumbnail {
		padding-bottom: 60%;
	}

	.single.single-post--layout-three .blogmatic-container-fluid .blogmatic-breadcrumb-element {
		width: 95%;
	}

	.single .post-format-ss-wrap .blogmatic-social-share .share-icon {
		display: none;
	}

	.widget_blogmatic_post_grid_widget .post-grid-wrap {
		grid-template-columns: 100%;
	}

	.widget_blogmatic_carousel_widget .post-thumb-wrap {
		height: 248px;
	}

	.single.single-post--layout-four .blogmatic-single-header .single-header-content-wrap {
		padding: 20px;
	}

	.main-header nav.toggled .blogmatic-primary-menu-container,
	.main-header nav.toggled div.menu {
		padding: 20px;
	}

	article .content-wrap .post-button .button-text {
		font-size: var(--blogmatic-readmore-font-size-mobile);
		letter-spacing: var(--blogmatic-readmore-font-letterspacing-mobile);
		line-height: var(--blogmatic-readmore-font-lineheight-mobile);
	}

	body .single-related-posts-section-wrap .single-related-posts-section .single-related-posts-wrap {
		grid-template-columns: 100%;
	}

	.blogmatic-category-collection-section.layout--two .category-wrap {
		width: 100%;
	}

	.blogmatic-category-collection-section.layout--two .category-item {
		display: none;
	}

	.blogmatic-category-collection-section.layout--two .category-item-second {
		left: 30px;
		opacity: 1;
	}

	.blogmatic-instagram-section.layout--two .instagram-content {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}

	.blogmatic-instagram-section.layout--two .instagram-content .instagram-item:nth-child(3) {
		grid-row: span 1;
		grid-column: span 1;
	}

	.blogmatic-instagram-section.layout--two .instagram-content .instagram-caption {
		display: none;
	}

	.instagram-container .instagram-button .instagram-label {
		font-size: var(--blogmatic-instagram-font-size-mobile);
		line-height: var(--blogmatic-instagram-font-lineheight-mobile);
		letter-spacing: var(--blogmatic-instagram-font-letterspacing-mobile);
	}

	.instagram-container .instagram-button .instagram-icon i {
		font-size: calc( var(--blogmatic-instagram-font-size-mobile) * 0.84 );
	}

	.blogmatic-instagram-section.layout--two .instagram-content .instagram-item:before {
		padding-bottom: 120px;
	}

	body .blogmatic-you-may-have-missed-section .blogmatic-you-may-missed-inner-wrap .you-may-have-missed-wrap {
		grid-template-columns: 100%;
	}

	.blogmatic-you-may-have-missed-section.section--list .post-item {
		display: initial;
	}

	.blogmatic-you-may-have-missed-section.section--list .inner-content {
		padding: 25px 0 0;
		align-self: initial;
	}

	.blogmatic-you-may-have-missed-section .you-may-have-missed-wrap .post-thumbnail-wrapper:before {
		padding-bottom: calc( 100% * var(--blogmatic-youmaymissed-image-ratio-mobile) );
	}

	.blogmatic-you-may-have-missed-section .section-title {
		font-size: var(--blogmatic-youmaymissed-block-title-font-size-mobile);
		line-height: var(--blogmatic-youmaymissed-block-title-font-lineheight-mobile);
		letter-spacing: var(--blogmatic-youmaymissed-block-title-font-letterspacing-mobile);
	}

	.blogmatic-you-may-have-missed-section .post-thumbnail-wrapper .entry-title {
		font-size: var(--blogmatic-youmaymissed-title-font-size-mobile);
		line-height: var(--blogmatic-youmaymissed-title-font-lineheight-mobile);
		letter-spacing: var(--blogmatic-youmaymissed-title-font-letterspacing-mobile);
	}

	.blogmatic-you-may-have-missed-section .post-thumbnail-wrapper .post-categories a {
		font-size: var(--blogmatic-youmaymissed-category-font-size-mobile);
		line-height: var(--blogmatic-youmaymissed-category-font-lineheight-mobile);
		letter-spacing: var(--blogmatic-youmaymissed-category-font-letterspacing-mobile);
	}

	.blogmatic-you-may-have-missed-section .post-thumbnail-wrapper .post-date {
		font-size: var(--blogmatic-youmaymissed-date-font-size-mobile);
		line-height: var(--blogmatic-youmaymissed-date-font-lineheight-mobile);
		letter-spacing: var(--blogmatic-youmaymissed-date-font-letterspacing-mobile);
	}

	.blogmatic-you-may-have-missed-section .post-thumbnail-wrapper .author {
		font-size: var(--blogmatic-youmaymissed-author-font-size-mobile);
		line-height: var(--blogmatic-youmaymissed-author-font-lineheight-mobile);
		letter-spacing: var(--blogmatic-youmaymissed-author-font-letterspacing-mobile);
	}

	.blogmatic-main-banner-section .main-banner-wrap .post-elements .post-excerpt {
		font-size: var(--blogmatic-banner-excerpt-font-size-mobile);
		line-height: var(--blogmatic-banner-excerpt-font-lineheight-mobile);
		letter-spacing: var(--blogmatic-banner-excerpt-font-letterspacing-mobile);
	}

	.widget_blogmatic_posts_grid_two_column_widget .posts-wrap .post-thumb {
		height: initial;
	}

	.blogmatic-main-banner-section.layout--three .swiper-slide .post-elements {
		padding: 20px;
		width: 75%;
	}

	body .blogmatic-main-banner-section.layout--one .main-banner-swiper-thumbs {
		margin-top: -2rem;
	}

}

/** 430 Small Mobile **/
@media (max-width: 430px) {


}